<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Pick any catergory that suits you!</h2>


    <% categories.forEach(cat => { %>

        <div class="cat-card">
            <a href="/category/<%= cat.category_id %>"><%= cat.name %></a>
        </div>

    <% }); %>

</main>

<%- include('partials/footer') %>