<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <% if (categoryProjects.length > 0) { %>

        <h2><%= categoryProjects.category_name %></h2>

        <h3>Service Projects</h3>

        <ul>
            <% categoryProjects.forEach(project => { %>
                <li>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.project_name %>
                    </a>
                </li>
            <% }) %>
        </ul>

    <% } else { %>

        <p>No projects found for this category.</p>

    <% } %>

</main>

<%- include('partials/footer') %>