<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Pick any catergory that suits you!</h2>


    <!-- <% categories.forEach(cat => { %>

        <div class="cat-card">
            <h3><%= cat.category_name %></h3>
            <p><%= cat.project_name %></p>
        </div>

    <% }); %> -->

   <% categories.forEach(cat => { %>
        <div class="cat-card">
            <h3><%= cat.category_name %></h3>

            <ul>
                <% cat.projects.forEach(project => { %>
                    <li><%= project %></li>
                <% }) %>
            </ul>
        </div>
    <% }) %> 

</main>

<%- include('partials/footer') %>