 <%- include('partials/header') %>

<main>
    
    <h1><%= title %></h1>
    <h2><%= projectDetails.title %></h2>
        
        
        <div class="project-card alone">     
            <p><%= projectDetails.description %></p>
            <p>At: <%= projectDetails.address %></p>
            <p><%= new Date(projectDetails.date).toLocaleDateString('en-US') %></p>
            <p>Hosted By:</p>
            <p><a href="/organization/<%= projectDetails.organization_id %>"><%= projectDetails.organization_name %></a></p>
        </div>
        
    <a href="/assign-categories/<%= projectDetails.service_project_id %>">Edit Categories</a>
    <a href="/update-project/<%= projectDetails.service_project_id %>">Update Project</a>

</main>
<%- include('partials/footer') %>